.grid-container{
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
    ". header ."
    "content content content"
    ". footer ."
    ;
}
.content{
    position: relative;
}
#profile-img{
    position: absolute;
    left: 10%;
    bottom: 0;
    height: 100%;
    max-height: auto;
    width: auto;

}
#profile-img img{
    height: 100%;
    width: auto;
    object-fit:cover;
    overflow:hidden;
}
#content-text{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 80% 20%;
    grid-template-areas: 
    ". group-text"
    "contact-bar contact-bar";
    height: 100%;
}
#group-text{
    grid-area: group-text;
    margin: 10% 15%;
    text-align: left;
}
#group-text h1{
    margin-bottom: 38px;
}
#contact-bar{
    grid-area: contact-bar;
    display: flex;
    flex-direction: row;
    background-color: #3d3d3d;
    margin:0;
    justify-content: space-evenly;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    gap: 25px;
    padding: 10px 10px 10px 30%;
    min-height: 46px;
    max-width: 100%;
    align-self: end;
}
#contact-label:hover{
    color: #88A33B;
}
.social-media:hover{
    color: #88A33B;

}
#menu{
    justify-self: start;
}
#menu > .dropmenu-content{
    left: 0;
}
#menu > .dropmenu-content > .dropmenu-item {
    background-color: #88A33B;
    color: #1E2332;
    text-align: left;
}
#menu > .dropmenu-label {
    background-color: #88A33B;
    width: 200px;
    box-sizing: border-box;
}
